.footer{
   padding: 100px 0 100px 0;
}
.social{
   margin: 0 auto;
   max-width: 400px;
   display: flex;
   justify-content: space-between;
   text-align:center;
}

.social__description{
   margin-top: 50px;
   text-align:center;
   color: #828282
}