.navigation{
   height: 90px;
   display: flex;
   justify-content: space-between;   
   align-items: center;
   border-bottom: 1px solid black;
}

.navigation__link{
   color: #828282;
}
.navigation__active{
   color: #070707;
}

@media( max-width: 767px ){
   .navigation{
      display: none;
   }
}