.helloBlock{
   min-height: 120px;
   margin: 40px 0 40px 0;
   display: flex;
   justify-content: space-between;   
   align-items: flex-end;
}

.helloBlock__name{
   font-size: 47px;
   line-height: 55px;
   letter-spacing: -3px;
}

.helloBlock__language{
   transform: rotate(-90deg) translate(24px, 28px);
}

.language__link{
   color: #828282;
}

.language__active{
   color: #070707;
}

.helloImg-big{
   display: block;
}
.helloImg-small{
   display: none;
}
@media( max-width: 767px ){
   .helloImg-big{
      display: none;
   }
   .helloImg-small{
      display: block;
      margin: 0 auto;
      width: 95%;
   }
   .helloBlock__language{
      display: none;
   }
   .helloBlock{
      display: block;
      margin: 50px 15px;
   }
   .helloBlock__shortInformation{
      margin-top: 20px;
   }
}
