.container{
   max-width: 960px;
   margin: 0 auto;
   padding: 0 20px;
}

body{
   font-family: 'Work Sans', sans-serif;
}

.btn{
   width: 170px;
   height: 40px;
   border-radius: 20px;
   color: #FFFFFF;
   background: #070707;
}

.upDown{
   position: fixed;
   top: 80%;
   left: 5%;
   width: 70px;
}
@media( max-width: 767px ){
   .upDown{
      display: none;
   }
}